body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li {
  list-style-type: none;
}

.img500 {
  background-image: url("https://drscdn.500px.org/photo/180725231/m%3D900_s%3D1_k%3D1/v2?sig=fa8c18a34bfe61f49b7a773c4432268557ce59c449a4071d5889ddbbd9c4f7e5");
}
